body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:  url(focus5.jpg );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(245, 150, 26);
}

.contenu{
    width: 70%;
    margin: 50px auto 0;
    padding: 20px;
    
    border-radius: 5px;
    box-shadow: 0 0 10px  rgb(27, 27, 27);
    margin-top: 10px;
}
form{
    max-width: 600px;
    margin: 0 auto;
}
.form-group{
    margin-bottom: 10px;
}
label{
    display: block;
    font-weight: bold;
    
}
input[type="text"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid rgb(192, 50, 50);
    margin-top: 5px;
}
textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(196, 56, 56);
    margin-top: 5px;
}

.destination{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid rgb(192, 50, 50);
    margin-top: 5px;
}

button{
    background-color: rgb(31, 29, 28);
    color: rgb(245, 243, 242);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color:   rgb(238, 80, 7);
}
.menu li a {
    color: rgb(255, 252, 249);
    font-size: 20px;
}

.logonom a{
    color: rgb(241, 235, 231);
    margin-left: 10px;
}